coverage==4.2
coveralls==1.1
docopt==0.6.2
flake8==3.0.4
mccabe==0.5.2
mock==2.0.0
pbr==1.10.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.3
pytest-cov==2.4.0
requests==2.11.1
six==1.10.0
