argh==0.26.2
coverage==4.2
coveralls==1.1
docopt==0.6.2
flake8==3.0.4
mccabe==0.5.2
mock==2.0.0
pathtools==0.1.2
pbr==1.10.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.3
pytest-cov==2.4.0
python-utils==2.0.0
PyYAML==3.12
requests==2.11.1
six==1.10.0
watchdog==0.8.3
